* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/******* Global CSS variable *******/

:root {
    /* font */
    --font-main-title: 'Alegreya', serif;
    --font-middle-title: 'Roboto Condensed', sans-serif;
    --font-content: Arial, Helvetica, sans-serif;
    
    /* color */
    --dark-teal: #395e6b;
    --dark-grey: #5d5d5d;
    /* main text color */
    --middle-grey: #afaeac;
    --alpha-middle-grey: rgba(175, 174, 172, 0.2);
    /* grey in footer*/
    --light-grey: #f5f5f5;
    --white : #ffffff;

    /* border */
    --dash-border: 1px dashed --middle-grey;
}

/****** Main *******/

h3 {
    text-transform: uppercase;
}

/*** Entire layout with Grid ***/

body {
    font-family: var(--font-content);
    font-size: 15px;
}

.wrapper {
    height: 100vh;
    padding: 1rem;
    display: grid;
    grid-template: [header-top] "logo nav nav" 2fr [header-bottom intro-top] "intro intro intro" 4fr [intro-bottom content-top]"side-left content side-right" 4fr[content-bottom footer-top] "footer footer footer" 2fr [footer-bottom] / 2fr 2.5fr 2fr;
    grid-gap: 10px;
}

/*** Testing ***/

.wrapper div {
    border: 1px solid black;
}

.logo {
    grid-area: logo;
}

.navigation {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ffffff;
}

.intro {
    grid-area: intro;
}

.side-left {
    grid-area: side-left;
}

.content {
    grid-area: content;
}

.side-right {
    grid-area: side-right;
}

.footer {
    grid-area: footer;
}

/*** Header ***/

/* Header >> logo */

.logo img {
    width: 100%;
    height: 100%;
}

/* Header >> nav */
nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    background: linear-gradient(var(--white) 0.4rem, var(--middle-grey));
    border-bottom: 1px solid var(--middle-grey);
    box-shadow: inset -5px -5px 10px 20px var(--alpha-middle-grey);
    text-align: center;
    align-self: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav ul a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--dark-teal);
}